<%- include("../views/partials/header") %>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="faq.css">
<title>Updates | Make My Blog</title>
</head>

<body>
    <%- include("../views/partials/alertMsgInteractive") %>
    <section id="navbar">
        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="/"><i class="fas fa-pen-nib"></i> Make My Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Blogs</a>
                    <a class="nav-item nav-link" href="#">About Us</a>
                    <a class="nav-item nav-link " href="/faq">Faq</a>
                    <a class="nav-item nav-link active" href="/updates">Updates</a>
                </div>

                <%- include("../views/partials/loginInfo") %>
            </div>

        </nav>
    </section>
    <%- include("../views/partials/alertMsg") %>
    <section>
        <!-- //Header Image -->
        <div class="scallop-up"></div>
        <div id="header">
            <h1 class="text-center display-3 py-3 mb-0">Updates</h1>
            <p class="small text-center mb-0 pb-2">Updates to the platform</p>
        </div>

        <div class="scallop-down"></div>
    </section>

    <section class="mt-3">
        <div class="container w-75">
        <% 
        allUpdate.forEach(function(update){ 
        var date = new Date(update.created);  // dateStr you get from mongodb
        %>
            <ul>
                <li id="eachPart">

                    <p id="question" class="px-4 pt-4">
                        <%= update.title %>
                    </p>

                    <div id="answer">
                        <%if(update.image){ %>
                        <div class="d-flex justify-content-center pb-5">
                            <img src="<%=update.image%>" alt="" class="w-50 img-thumbnail">
                        </div>
                        <%}%>
                <h5 class="px-4""><%=date.toDateString()%></h5>
                        <p class="px-4 pb-3 text-justify">
                            <%= update.content%>
                        </p>
                    </div>
                </li>
            </ul>
            <%})%>
        </div>
    </section>

    <%- include("../views/partials/bottomNavbar") %>

    <%- include("../views/partials/footer") %>